<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">

                <!-- User -->
                <div formGroupName="user" class="form-area">
                    <h3>User</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Username</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="username" type="text">
                                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="username?.errors?.required || username?.errors?.notOnlyWhitespace">
                                        Username is required
                                    </div>
                                    <div *ngIf="username?.errors?.minlength">
                                        Username must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="firstName?.errors?.required || firstName?.errors?.notOnlyWhitespace">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName?.errors?.minlength">
                                        First Name must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="lastName?.errors?.required || lastName?.errors?.notOnlyWhitespace">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName?.errors?.minlength">
                                        Last Name must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email?.errors?.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email?.errors?.pattern">
                                        Email must be a valid email address format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>password</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="password" type="text">
                                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="password?.errors?.required">
                                        Password is required
                                    </div>
                                    <div *ngIf="password?.errors?.pattern">
                                        Password must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Address -->
                <div formGroupName="address" class="form-area">
                    <h3>Address</h3>
                <!--    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('address')">
                                    <option *ngFor="let tempCountry of countries" [ngValue]="tempCountry">
                                        {{ tempCountry.name }}
                                    </option>
                                </select>
                                <div *ngIf="addressCountry?.invalid && (addressCountry?.dirty || addressCountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="addressCountry?.errors?.required">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let tempState of states">
                                        {{ tempState.name }}
                                    </option>
                                </select>
                                <div *ngIf="addressState?.invalid && (addressState?.dirty || addressState?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="addressState?.errors?.required">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="addressCity?.invalid && (addressCity?.dirty || addressCity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="addressCity?.errors?.required || addressCity?.errors?.notOnlyWhitespace">
                                        City is required
                                    </div>
                                    <div *ngIf="addressCity?.errors?.minlength">
                                        City must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="addressStreet?.invalid && (addressStreet?.dirty || addressStreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="addressStreet?.errors?.required || addressStreet?.errors?.notOnlyWhitespace">
                                        Street is required
                                    </div>
                                    <div *ngIf="addressStreet?.errors?.minlength">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="addressZipCode?.invalid && (addressZipCode?.dirty || addressZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="addressZipCode?.errors?.required">
                                        Zip Code is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Register</button>

                </div>
            </form>
        </div>
    </div>
</div>